@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Inter:wght@400;500;600&display=swap');

:root {
    --cor-logo: #3A404E;
    --cor-titulo: #101828;
    --cor-texto: #667085;
    --cor-destaque: #8E2424;
    --cor-branco: #FFFFFF;

    --fonte-padrao: 'Inter', sans;
}

body {
    color: var(--cor-branco);
    font-family: var(--fonte-padrao);
}